# ----- App mode
ENV=dev

# ----- Postgres (used by container)
POSTGRES_USER=docrepo
POSTGRES_PASSWORD=docrepo
POSTGRES_DB=docrepo

# ----- App DB URL (used by app)
DATABASE_URL=postgresql+asyncpg://docrepo:docrepo@db:5432/docrepo

# ----- Redis
REDIS_URL=redis://redis:6379/0

# ----- MinIO / S3
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
S3_ENDPOINT_URL=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=docrepo
S3_PUBLIC_BASE_URL=http://localhost:9000

# App credentials to access S3 (dev: reuse root)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

# ----- JWT
JWT_SECRET=change-me-in-prod
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=60
JWT_REFRESH_EXPIRES_MINUTES=10080

# ----- pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=K!10020122@w
